body {
  font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
}

li {
  display: inline-block;
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

.background {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
  position: absolute;
  left: 0;
  right: 0;
  height: 100vh;
}

.container {
  max-width: 1107px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}


.menu__list-link {
  text-transform: uppercase;
  font-size: 14px;
  margin-right: 15px;
  font-weight: 400;

}

.language {
  display: flex;
  align-items: center;
}

.language__img {
  border-radius: 50%;
  margin-right: 11px;
}

.select {
  background-color: transparent;
  border: none;
  color: #fff;
  font-weight: 400;
  font-size: 17px;
}

.option {
  color: #000;
}

.language__btn {
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 11px 28px;
  margin-left: 29px;
}

.header__content {
  margin-top: 170px;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.heading {
  text-transform: uppercase;
  font-size: 72px;
  line-height: 86px;
  font-weight: 700;
  margin-bottom: 39px;
}

.text {
  text-align: center;
  font-size: 24px;
  line-height: 36px;
  max-width: 483px;
  margin-bottom: 40px;
}

.heading__btn {
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid #fff;
  background-color: #fff;
  color: #ED4C5C;
  font-weight: 600;
  border-radius: 6px;
  padding: 17px 53px;
  margin-left: 29px;
  transition: .3s;
}

.heading__btn:hover {
  background-color: transparent;
  color: #fff;
}