body{
  font-family: "Lato", sans-serif;
  background-size: cover;
  background: fixed linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url(../image/Rectangle\ 3.jpg);

} 


.header{
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: 10px 100px 0px 100px; 
}


.menu{
  padding-right: 95px;
  padding-left: 75px;
}


.sign-up{
  background-color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 12px 28px;
  text-decoration:none ;
  background-color:white;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
color: #ED4C5C;
 font-size: 14px;
line-height: 17px;
}


.logo{
  color:aquamarine ;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125em;
  line-height: 1.375em;
  text-align: center;
  align-items: center;
}


.li{
  list-style-type: none;
}


.all-menu{
  justify-content: space-between;
  display: flex;
  list-style: none;
  
}

.item{
  font-style: normal;
  font-weight: normal;
  font-size: 0.875em;
  line-height: 1.0625em;
  text-decoration: none;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  padding: 15px;
  outline: none;

}

.select-langauge{
 border: none;
 background-color: transparent;
 text-transform: uppercase;
 color: white;
 outline: none;
}

.langauge-section{
padding-right: 20px;
display: flex;

}


.login{
  border: 2px solid white;
    border-radius: 10px;
    padding: 12px 28px;
    text-decoration:none ;
    background-color: transparent;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
   color: white;
   font-size: 14px;
line-height: 17px;
  }

.langauge-option{
  background-color: transparent;
  border: none;
 background-color: transparent;
 font-size: 14px;
line-height: 17px;
 
}


  .list{
    display: flex;
    text-decoration:none ;
    margin-right: 15px;
   color: white;
   font-size: 14px;
  line-height: 17px;
  }

.flag{
  align-items: center;
}

.tringle{
  border-radius: 50px
}


.conteiner{
  height: 100vh;
  display: flex;
  background-image: url(/image/Rectangle\ 3.jpg)
}


.heading{
  font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 86px;
display: flex;
align-items: center;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #FFFFFF;

}


.main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 165px;
  flex-direction: column;
}


.text{
  display:flex;
  text-align: center;
  font-family: Lato;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 150%;
/* or 36px */

text-align: center;

color: #FFFFFF;

}
